.accordion {
    display: flex;
    flex-flow: column nowrap;
}

.accordion>.accordion-item {
    flex: 0 1 auto;
    display: flex;
    flex-flow: column nowrap;
}

.accordion-item>.item-content {
    overflow: hidden;
    display: none;
}

.accordion-item.open>.item-content {
    overflow: hidden;
    display: block;
}

.accordion-item>.item-title {
    display: flex;
    align-items: center;
}

.accordion-item>.item-title:before {
    content: "\25BA";
    font-size: 10px;
    line-height: inherit;
    margin-right: 5px;
    transition: transform 200ms;
}

.accordion-item.open>.item-title:before {
    transform: rotate(90deg);
}